@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: Inter;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateY(5deg);
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.perspective-3d {
  perspective: 1000px;
}

html{
  scroll-behavior: smooth;
}
